In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

In [3]:
data = pd.read_excel('seven_major_felony_offenses_2000_2018.xls')

In [4]:
data.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Seven Major Felony Offenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,STATISTICAL NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1. 2000-2005 Data Source-Historical Comfinal d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2. 2006-2016 Data Source-CDW Omniform System a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3. Murder & Non-Negligent Manslaughter data so...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4. 2000-2009 data as of 12/8/2010. 2010 data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.isnull().sum()

Unnamed: 0      4
Unnamed: 1     10
Unnamed: 2     10
Unnamed: 3     10
Unnamed: 4     10
Unnamed: 5     10
Unnamed: 6     10
Unnamed: 7     10
Unnamed: 8     10
Unnamed: 9     10
Unnamed: 10    10
Unnamed: 11    10
Unnamed: 12    10
Unnamed: 13    10
Unnamed: 14    10
Unnamed: 15    10
Unnamed: 16    10
Unnamed: 17    10
Unnamed: 18    10
Unnamed: 19    10
dtype: int64

In [6]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [56]:
df = data.copy()

In [57]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Seven Major Felony Offenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,STATISTICAL NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1. 2000-2005 Data Source-Historical Comfinal d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2. 2006-2016 Data Source-CDW Omniform System a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3. Murder & Non-Negligent Manslaughter data so...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4. 2000-2009 data as of 12/8/2010. 2010 data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df = df.drop([df.index[12]])

In [59]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Seven Major Felony Offenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,STATISTICAL NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1. 2000-2005 Data Source-Historical Comfinal d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2. 2006-2016 Data Source-CDW Omniform System a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3. Murder & Non-Negligent Manslaughter data so...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4. 2000-2009 data as of 12/8/2010. 2010 data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df = df.drop([df.index[13],df.index[14],df.index[15],df.index[16],df.index[17]])

In [61]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Seven Major Felony Offenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df = df.drop([df.index[0],df.index[1],df.index[2]])

In [63]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df = df.rename(columns = {'Unnamed: 0':'Offense',
                          'Unnamed: 1':'Year 2000',
                          'Unnamed: 2':'Year 2001',
                          'Unnamed: 3':'Year 2002',
                          'Unnamed: 4':'Year 2003',
                          'Unnamed: 5':'Year 2004',
                          'Unnamed: 6':'Year 2005',
                          'Unnamed: 7':'Year 2006',
                          'Unnamed: 8':'Year 2007',
                          'Unnamed: 9':'Year 2008',
                          'Unnamed: 10':'Year 2009',
                          'Unnamed: 11':'Year 2010',
                          'Unnamed: 12':'Year 2011',
                          'Unnamed: 13':'Year 2012',
                          'Unnamed: 14':'Year 2013',
                          'Unnamed: 15':'Year 2014',
                          'Unnamed: 16':'Year 2015',
                          'Unnamed: 17':'Year 2016',
                          'Unnamed: 18':'Year 2017',
                         'Unnamed: 19':'Year 2018'})

In [66]:
df

,Offense,Year 2000,Year 2001,Year 2002,Year 2003,Year 2004,Year 2005,Year 2006,Year 2007,Year 2008,Year 2009,Year 2010,Year 2011,Year 2012,Year 2013,Year 2014,Year 2015,Year 2016,Year 2017,Year 2018
3,OFFENSE,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df.columns

Index(['Offense', 'Year 2000', 'Year 2001', 'Year 2002', 'Year 2003',
       'Year 2004', 'Year 2005', 'Year 2006', 'Year 2007', 'Year 2008',
       'Year 2009', 'Year 2010', 'Year 2011', 'Year 2012', 'Year 2013',
       'Year 2014', 'Year 2015', 'Year 2016', 'Year 2017', 'Year 2018'],
      dtype='object')

In [68]:
df = df.drop([df.index[0]])

In [69]:
df

,Offense,Year 2000,Year 2001,Year 2002,Year 2003,Year 2004,Year 2005,Year 2006,Year 2007,Year 2008,Year 2009,Year 2010,Year 2011,Year 2012,Year 2013,Year 2014,Year 2015,Year 2016,Year 2017,Year 2018
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df = df.drop([df.index[8]])

In [71]:
df

,Offense,Year 2000,Year 2001,Year 2002,Year 2003,Year 2004,Year 2005,Year 2006,Year 2007,Year 2008,Year 2009,Year 2010,Year 2011,Year 2012,Year 2013,Year 2014,Year 2015,Year 2016,Year 2017,Year 2018
4,MURDER & NON-NEGL. MANSLAUGHTER,673.0,649.0,587.0,597.0,570.0,539.0,596.0,496.0,523.0,471.0,536.0,515.0,419.0,335.0,333.0,352.0,335.0,292.0,295.0
5,RAPE,2068.0,1981.0,2144.0,2070.0,1905.0,1858.0,1525.0,1351.0,1299.0,1205.0,1373.0,1420.0,1445.0,1378.0,1352.0,1438.0,1438.0,1449.0,1794.0
6,ROBBERY,32562.0,28202.0,27229.0,25989.0,24373.0,24722.0,23739.0,21809.0,22401.0,18601.0,19486.0,19717.0,20144.0,19128.0,16539.0,16931.0,15500.0,13956.0,12913.0
7,FELONY ASSAULT,25924.0,23453.0,21147.0,19139.0,18622.0,17750.0,17309.0,17493.0,16284.0,16773.0,16956.0,18482.0,19381.0,20297.0,20207.0,20270.0,20847.0,20052.0,20208.0
8,BURGLARY,38352.0,32763.0,31275.0,29110.0,26976.0,24117.0,23143.0,21762.0,20725.0,19430.0,18600.0,18720.0,19168.0,17429.0,16765.0,15125.0,12990.0,12083.0,11687.0
9,GRAND LARCENY,49631.0,46329.0,45771.0,46751.0,48763.0,48243.0,46625.0,44924.0,44242.0,39580.0,37835.0,38501.0,42497.0,45368.0,43862.0,44005.0,44279.0,43150.0,43558.0
10,GRAND LARCENY OF MOTOR VEHICLE,35442.0,29531.0,26656.0,23413.0,20884.0,18246.0,15745.0,13174.0,12482.0,10670.0,10329.0,9314.0,8093.0,7400.0,7664.0,7332.0,6327.0,5676.0,5428.0
11,TOTAL SEVEN MAJOR FELONY OFFENSES,184652.0,162908.0,154809.0,147069.0,142093.0,135475.0,128682.0,121009.0,117956.0,106730.0,105115.0,106669.0,111147.0,111335.0,106722.0,105453.0,101716.0,96658.0,95883.0

In [72]:
df.to_csv('felony_offence.csv')